Flask==2.3.2
frozenlist==1.4.0
future==0.18.3
h11==0.14.0
line-bot-sdk
numba==0.57.1
numpy==1.24.4
openai
openai-whisper
openpyxl
pandas==2.0.3
Pillow==9.4.0
pycparser
python-dotenv
requests 
selenium
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.65.0
undetected-chromedriver==3.5.0
webdriver-manager==4.0.0
websockets==11.0.3
